{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}update user{% endblock title %}
{% block  sidebar %}
{% endblock sidebar %}
{% block content_main %}
{% endblock content_main %}
{% block account %}
<div class="container mt-0">
    <div class="row m-auto mt-0">
        <div class="col-md-6 col-lg-6 shadow p-3 mx-auto">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_form|crispy}}
                {{profile_form|crispy}}
                <input type="submit" value="update User"class="btn btn-secondary w-100 my-2">
            </form>
        </div>
    </div>
</div>
{% endblock account %}
