{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}blog home{% endblock title %}
{% block content_main %}
<div class="row">
<div class="col-12">
<h2 class="my-0">{{post_detail.title|title}}</h2>
<small class="text-primary mb-2"> write by : {{post_detail.author|title}} Created at : <span>{{post_detail.create_at|date:'y - m -d'}}</span></small>
<p class="text-body">{{post_detail.content|capfirst}} <a class="text-bg-success px-2" href="{% url 'blog:blog_home' %}">Home back </a></p>
</div>
<hr>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-bg-secondary text-center py-1 ">Comments</h3>
        <div class="row">
            {% for commnet in comments %}
            <div class="col-12 shadow py-2 ">
                <p class="my-0 text-capitalize">{{commnet.username}}</p>
                <p>{{commnet.email}}</p>
                <p>{{commnet.comment_text|truncatechars:'100'|capfirst}}
                    <a href="{% url 'blog:read_comment' commnet.id  post_detail.id %}" class="comment-text">read more</a>
                </p>
            </div>
            {% empty %}
            <p>no comment yet</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 shadow p-3 mt-3">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="commnet" class="btn btn-secondary w-100 my-2">
        </form>
    </div>
</div>
{% endblock content_main %}

